#my-nav{
    background-color: #4B0082;
}
.myside-nav{
    background-color: #4B0082;
}
#body{
    background-color: rgb(223, 245, 244);
}
#data-container{
    background-color: rgb(223, 245, 244);
}